<!DOCTYPE html>
<html lang="en"   xmlns:th="https://www.thymeleaf.com" >
<head>
  <meta charset="ISO-8859-1">
  <title>profile</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<nav th:if="${userEmail != null}"  class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
  <div class="flex lg:flex-1">
    <a href="#" class="-m-1.5 p-1.5">
      <span class="sr-only">Your Company</span>
      <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
    </a>
  </div>
  <div class="flex lg:hidden">
    <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
      <span class="sr-only">Open main menu</span>
      <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </button>
  </div>
  <div class="hidden lg:flex lg:gap-x-12">
    <a href="/" class="text-sm font-semibold leading-6 text-gray-900">Home</a>
    <a href="available_books" class="text-sm font-semibold leading-6 text-gray-900">Available Books</a>
    <a href="book_register" class="text-sm font-semibold leading-6 text-gray-900">Register a Book</a>
    <a href="register"class="text-sm font-semibold leading-6 text-gray-900">Register a member</a>
    <a href="users" class="text-sm font-semibold leading-6 text-gray-900">Members</a>
    <a href="books" class="text-sm font-semibold leading-6 text-gray-900">Gallery</a>
    <a href="profile" class="text-sm font-semibold leading-6 text-gray-900">My Profile</a>

  </div>


  <div th:if="${userEmail != null}" class="hidden lg:flex lg:flex-1 lg:justify-end">
    <form th:action="logout" method="post">
      <input type="submit" value="Log out" class="text-sm font-semibold leading-6 text-gray-900"/>
    </form>
  </div>
</nav>
<div th:if="${userEmail != null}">
  <h1>Welcome, <span th:text="${userEmail}"></span>!</h1>
</div>

<div th:if="${userEmail == null}">
  <h1>Welcome, Guest!</h1>
  <p>You don't seem to have an account. <br> Register <a href="register">here</a> to get started.</p>
</div>




</body>
</html>