<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="ISO-8859-1">
    <title>List Users</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
        <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">Your Company</span>
            <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
        </a>
    </div>
    <div class="flex lg:hidden">
        <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
            <span class="sr-only">Open main menu</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
        </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
        <a href="/" class="text-sm font-semibold leading-6 text-gray-900">Home</a>
        <a href="available_books" class="text-sm font-semibold leading-6 text-gray-900">Available Books</a>
        <a href="book_register" class="text-sm font-semibold leading-6 text-gray-900">Register a Book</a>
        <a href="register"class="text-sm font-semibold leading-6 text-gray-900">Register a member</a>
        <a href="users" class="text-sm font-semibold leading-6 text-gray-900">Members</a>
        <a href="books" class="text-sm font-semibold leading-6 text-gray-900">Gallery</a>

    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
        <a href="#" class="text-sm font-semibold leading-6 text-gray-900" th:action="@{/logout}" method="post">Log out <span aria-hidden="true">&rarr;</span></a>
    </div>
</nav>


<div class="container text-center">
    <form method="post" action="/users/search"  class="w-50">
        <div class="flex-row flex mb-5">
        <i class="fa fa-search"></i>
        <input type="text" name="keyword" placeholder="Search for a user " class="form-control">
        <button type="submit" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Search</button>
        </div>
    </form>
    <div>
        <table class="table table-success table-striped">
            <thead class="thead-dark">
            <tr>
                <th>User ID</th>
                <th>E-mail</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${listUsers}">
                <td th:text="${user.id}">User ID</td>
                <td th:text="${user.email}">E-mail</td>
                <td th:text="${user.first_name}">First Name</td>
                <td th:text="${user.last_name}">Last Name</td>
                <td th:text="${user.phone}">Phone</td>
                <td>
                    <a th:href="@{/deleteUser/{id} (id=${user.id} ) }">Delete</a>
                    <a th:href="@{/editUser/{id} (id=${user.id} ) }">Edit</a>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>